<div class="has-background-color is-flex flex-grow-1 flex-direction-column">
  <%= form_with(model: payment) do |form| %>
    <div class="header">
      <%= link_to categories_path, class: "button" do %>
        <span class="has-text-white material-icons-outlined">arrow_back</span>
      <% end %>
      <div class="is-flex has-text-white  flex-grow-1 justify-content-center">
        <h2 class="title">New Transaction</h2>
      </div>
      <%= form.submit "Save", class: "button save has-text-white" %>
    </div>
    <%= render "devise/shared/error_messages", resource: payment %>
    <div class="input-group my-2 shadow-box">
      <%= form.text_field :name, autofocus: true, placeholder: "Name", class: "input", required: true %>
      <div class="divider"></div>
      <%= form.number_field :amount, placeholder: "Amount", class: "input", required: true %>
      <div class="divider"></div>
      <%= form.collection_select :category_ids, current_user.categories.order(:name), :id, :name, {}, { class: "input", multiple: true, required: true } %>
    </div>
  <% end %>
</div>